[submodule "submodules/imgui"]
	path = submodules/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = git@github.com:glfw/glfw.git
[submodule "submodules/glm"]
	path = submodules/glm
	url = git@github.com:icaven/glm.git
[submodule "submodules/stb"]
	path = submodules/stb
	url = git@github.com:nothings/stb.git
[submodule "submodules/tinyobjloader"]
	path = submodules/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "submodules/VulkanMemoryAllocator"]
	path = submodules/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
